.connection--page{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 30%;
    animation: 2s glissement ease-in;
    
        .connection--page-title{
            text-align: center;
        }
        .connection--page-input{
            width: 100%;
            margin: 5px;
        }
        .connection--page-submitContainer{
            width: 100%;
            margin: 5px;
            text-align: center;
        }
        .connection--page-message{
            color: red;
            width: 100%;
            text-align: center;
        }
}

@keyframes glissement {
    from {
      margin-top: 65%;
      width: 30%;
    }to{
        margin-top: 0%;
        width: 30%;
    }
}